<!DOCTYPE html>
<html>
<head>
  <title>Splurty</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <header>
    <div class="col-sm-3">
      <%= link_to root_path, class: 'logo' do %>
        <div class="circle">
          <br />
          Forge
          <br />
          The Best
          <br />
          You
          </div>
        <% end %>
        </div>
    
    <div class="col-sm-5 slogan">
    Splurting out motivation to help forge a better you 
    </div>
    
    <div class="col-sm-4 links">
    <%= link_to 'Contribute', new_quote_path %>
    <%= link_to 'About', '#' %>
    </div>
  </header>

  <hr />

  <br class="clear" />

<div class="container">
<%= yield %>
</div>

<div class="footer">
  <div class="container">
      <div class="col-xs-6">
        <%= link_to "Gimmie Moar!!", "#", class: 'next-quote' %>
      </div>
      <div class="col-xs-6 footer-blurb">
        Made by <a href="ofsixindustries.com">Jake</a><br />
        Want to build your own Splurty Web App - <a href="http://thefirehoseproject.com">Learn how to code here</a>
      </div>
  </div>
</div>

</body>
</html>
